@model RegisterVM

@{
    ViewData["Title"] = "Register";
    Layout = "_AdminLayout";
}

<link href="~/css/templateModification.css" rel="stylesheet" />


<div class="container-fluid">
    <p class="pt-3 mb-1 ml-1 d-flex pagetitle-single"> <br /> <span><i class="fas fa-users"></i> &nbsp Manage Users</span> </p>

    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Register New User</h3>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="Enter Firstname" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Enter Lastname" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectRounded0">Account type</label>
                            <select asp-for="AccountType" class="custom-select rounded-0"
                                    asp-items="Html.GetEnumSelectList<Enum_AccountType>()">
                                <option value="">--- Select ---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">All Registered Users</h3>
                </div>
                <div class="card-body">
                    <table id="table1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Account Type</th>
                                <th></th>
                            </tr>
                        </thead>

                        @if (Model.ApplicationUserList.Any())
                        {

                            <tbody>

                                @foreach (var RegisteredUser in Model.ApplicationUserList)
                                {

                                    <tr>
                                        <td>@RegisteredUser.FullName </td>
                                        <td>@RegisteredUser.Email </td>
                                        <td>@RegisteredUser.AccountType </td>

                                        <td>
                                            <form method="post" asp-controller="Account" asp-action="DeleteRegisteredUser" asp-route-Id="@RegisteredUser.Id">
                                                <a asp-controller="Account" asp-action="EditRegisteredUser" asp-route-Id="@RegisteredUser.Id"><i class="btn btn-sm fas fa-edit table-fa"></i></a>
                                                <button class="btn btn-sm fa fa-trash-o table-fa" type="submit" onclick="return confirm('Are you sure you want to delete registered user : @RegisteredUser.FullName')"></button>
                                            </form>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        }
                        else
                        {
                            <tr><td colspan="2">Currently No Information Found !! </td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



